.about-company__body {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  padding: 79px 14px 91px 14px;
  margin: 0 auto;
}

.about-company__img {
  height: 317px;
  margin-top: 4px;
}

.about-company__img img {
  max-width: 220px;
}

.about-company__text {
  @include reset-list();
  margin-left: 20px;
}

.about-company__text h3 {
  @include reset-list();
  @include font(36px, 51px);
  margin-bottom: 17px;
  margin-left: -30px;
  font-family: $addition-font;
}

.about-company__text p {
  @include reset-list();
  margin-bottom: 19px;
  margin-left: -30px;
}

.about-company__text p + p {
  margin-bottom: 40px;
}

.about-company__text a {
  padding: 13px 50px;
  margin-left: -33px;
  border-color: $decor-color;
  background-color: $main-color;
  color: $decor-color;
  letter-spacing: 0.05em;

  &:hover {
    background-color: $decor-color;
    color: $main-color;
  }
}

@media (max-width: $tablet-width) {
  .about-company__body {
    padding: 22px 25px 73px 6px;
  }

  .about-company__img {
    min-width: 251px;
    min-height: 362px;
  }

  .about-company__img img {
    height: 100%;
  }

  .about-company__text {
    margin-left: -13px;
  }

  .about-company__text h3 {
    @include font(32px, 45px);
    margin-bottom: 27px;
  }

  .about-company__text p {
    text-overflow: ellipsis;
  }

  .about-company__hidden {
    position: relative;
    display: none;
    text-overflow: ellipsis;
  }

  .about-company__text p + p {
    margin-bottom: 44px;
  }
}

@media (max-width: $mobile-width) {
  .about-company__body {
    padding: 57px 10px 66px 30px;
    margin-left: 0;
  }

  .about-company__img {
    display: none;
  }

  .about-company__text {
    width: 100%;
  }

  .about-company__text h3,
  .about-company__text p,
  .about-company__text a {
    margin-left: 0;
  }

  .about-company__text h3 {
    @include font(28px, 39px, 400);
    margin-bottom: 19px;
  }
  .about-company__text p {
    margin-bottom: 43px;
  }

  .about-company__text p + p {
    margin-bottom: 28px;
  }
}
