.about-company__body {
  display: flex;
  justify-content: space-between;
  max-width: 1230px;
  // padding: 0 14px;
  padding-top: 74px;
  padding-bottom: 91px;
  margin: 0 auto;
}

.about-company__img img{
  width: 317px;
  height: 220px;
  display: block;
}



.about-company__text h3 {
  @include reset-list();
  @include font(36px, 51px);
  margin-bottom: 18px;
  font-family: $addition-font;
}

.about-company__text p {
  @include reset-list();
  margin-bottom: 24px;
}

.about-company__text p + p {
  margin-bottom: 39px;
}

.about-company__text a {
  @include font(14px, 16px, 700);

  display: inline-block;
  align-self: center;

  padding: 13px 50px;
  border: 1px solid $decor-color;
  border-radius: $radius;

  background-color: $main-color;
  color: $decor-color;

  font-family: $addition-font;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover {
    background-color: $decor-color;
    color: $main-color;
  }
}

@media (max-width: $tablet-width) {
  .about-company__body {
    padding-left: 25px;
    padding-right: 25px;
  }

  .about-company__img img {
    // width: 251px;
    // height: 362px;
  }

  .about-company__text h3 {
    @include font(32px, 45px, 400);
    margin-bottom: 23px;
  }

  .about-company__text p {
    text-overflow: ellipsis;
  }

  .about-company__text p + p {
    margin-bottom: 34px;
  }
}

@media (max-width: $mobile-width) {
  .about-company__body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about-company__img {
    display: none;
  }

  .about-company__text {
    width: 100%;
  }

  .about-company__text h3 {
    @include font(28px, 39px, 400);
    margin-bottom: 19px;
  }

  .about-company__text p + p {
    margin-bottom: 28px;
  }
}
