.benefits__body {
  max-width: 1170px;
  padding: 0 14px;
  margin: 0 auto;
}

.benefits ul {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  padding-top: 109px;
  justify-content: space-between;
}

.benefits__item {

  width: 48%;
  min-height: 299px;
  padding: 40px 29px 49px 44px;
  margin-bottom: 30px;
  border: 1px solid $border;
  border-left: 1px solid $decor-color;
  cursor: pointer;

  &:hover {
    background-color: $decor-color;
  }
}

.benefits h3 {
  @include reset-list();
  @include font(24px, 34px, 400);
  margin: 15px 0;
  font-family: $addition-font;
  color: $decor-color;
  z-index: 5;

  &:hover {
    color: $main-color;
  }
}

.benefits p {
  @include reset-list();

  &:hover {
    color: $main-color;
  }

}
@media (max-width: $tablet-width) {
  .benefits__body {
    padding: 0 25px;
  }

  .benefits ul {
    padding-top: 54px;
  }

  .benefits__item {
    min-height: 232px;
    padding: 25px 0 0 25px;
    padding-bottom: 30px;
  }

  .benefits__item--stopwatch svg {
    width: 29.28px;
    height: 35.46px;
  }

  .benefits__item--hired svg {
    width: 31.61px;
    height: 32.18px;
  }

  .benefits__item--detective svg {
    width: 30.2px;
    height: 26.1px;
  }

  .benefits__item--tag svg {
    width: 32.18px;
    height: 32.18px;
  }

  .benefits__item--stopwatch,
  .benefits__item--hired {
    min-height: 306px;
  }

  .benefits__item--detective
  .benefits__item--tag {
    min-height: 232px;
  }

  .benefits h3 {
    margin: 10px 0 13px;
  }
}

@media (max-width: $mobile-width) {
  .benefits__body {
    padding: 0 15px;
  }

  .benefits ul {
    padding-top: 37px;
  }

  .benefits__item {
    width: 100%;
    padding: 27px 0 0 25px;
  }

  .benefits h3 {
    @include reset-list();
    @include font(20px, 28px, 400);
    margin: 14px 0 10px;
  }
}
