.contacts-us {
  background-color: $decor-color;
}

.contacts-us__body {
  display: flex;
  max-width: 1200px;
  padding: 0 14px;
  margin: 0 auto;
}

.contacts-us__info {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 570px;
  width: 100%;
  margin-left: auto;

  &::before {
    content: "";

    position: absolute;
    top: -59px;
    left: -802px;

    width: 1890px;
    height: 765px;

    background-image: url("../img/contacts-us-triangle.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";

    position: absolute;
    top: 161px;
    left: -625px;

    width: 511px;
    height: 288px;

    background-image: url("../img/paper-airplane@1x.webp"), url("../img/paper-airplane@1x.png");
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/paper-airplane@1x.webp"), url("../img/paper-airplane@2x.png");
    background-size: 1022px 0;
  }
}

.contacts-us__info h3 {
  @include reset-list();
  @include font(36px, 51px);
  padding-top: 90px;
  font-family: $addition-font;
  color: $main-color;
}

.contacts-us__info span {
  display: inline-block;
  vertical-align: baseline;
  padding: 10px 0 49px;
  color: $main-color;
}

.contacts-us__info form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  z-index: 10;
}

.contacts-us__item,
.contacts-us__textarea {
  @include reset-list();
}

.contacts-us__item input {
  width: 270px;
  height: 50px;
}

.contacts-us__item input,
.contacts-us__textarea textarea {
  padding: 14px 16px;
  margin-bottom: 24px;
  border: 0;
  color: $main-color;
  background-color: rgba($main-color, 0.1);
}

.contacts-us__textarea {
  margin-top: 18px;
}

.contacts-us__item input::placeholder,
.contacts-us__textarea textarea::placeholder {
  color: $main-color;
}

.contacts-us__textarea textarea {
  width: 570px;
  min-height: 154px;
  resize: none;
  border: none;
}

.contacts-us input:focus,
.contacts-us input:hover,
.contacts-us textarea:focus,
.contacts-us textarea:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.contacts-us__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 113px;
  z-index: 10;

}

.contacts-us__btn {
  min-width: 270px;
  padding: 13.5px 70px;
  margin-top: 14px;
  letter-spacing: 0.05em;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.contacts-us__checkbox input {
  opacity: 0;
}

.contacts-us__checkbox {
  @include reset-list();
  @include font(14px, 16px);
  position: relative;
  color: $main-color;
  cursor: pointer;
  opacity: 0.8;
}

.contacts-us__checkbox label {
  position: relative;
  display: block;
  padding-left: 70px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.contacts-us__checkbox label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 38px;

  width: 16px;
  height: 16px;

  border: 1px solid $main-color;
}

.contacts-us__checkbox input:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 38px;

  background-image: url(../img/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width) {
  .contacts-us__body {
    padding: 0 25px;
  }

  .contacts-us__info {
    max-width: 590px;
    margin: 0 auto;

    &::before,
    &::after {
      display: none;
    }
  }

  .contacts-us__info h3 {
    @include font(32px, 45px);
    padding-top: 79px;
  }

  .contacts-us__info span {
    padding: 17px 0 53px;
  }

  .contacts-us__item input,
  .contacts-us__textarea textarea {
    padding: 13px 20px;
    margin-bottom: 28px;
  }

  .contacts-us__item input {
    margin-bottom: 28px;
  }

  .contacts-us__item input {
    width: 279px;
    height: 50px;
  }

  .contacts-us__textarea textarea {
    width: 590px;
    min-height: 160px;
    margin-bottom: 14px;
  }

  .contacts-us__submit {
    margin-bottom: 105px;
  }

  .contacts-us__btn {
    min-width: 280px;
    margin-top: 22px;
  }

  .contacts-us__checkbox {
    padding-top: 14px;
    margin-left: 4px;

    &::before {
      top: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts-us__body {
    padding: 0 15px;
  }

  .contacts-us__info {
    max-width: 290px;
  }

  .contacts-us__info h3 {
    @include font(28px, 39px);
    padding-top: 28px;
  }

  .contacts-us__info span {
    padding-bottom: 23px;
  }

  .contacts-us__item input {
    width: 290px;
    height: 51px;
    margin-bottom: 31px;
  }

  .contacts-us__textarea {
    margin-top: 0;
  }

  .contacts-us__textarea textarea {
    width: 290px;
    min-height: 104px;
    margin-bottom: 3px;
    padding-top: 15px;
  }

  .contacts-us__submit {
    flex-direction: column;
    margin-bottom: 43px;
  }

  .contacts-us__btn {
    min-width: 290px;
    width: 100%;
  }

  .contacts-us__checkbox {
    @include font(14px, 16px);
    margin-left: 0;
  }

  .contacts-us__checkbox label {
    padding-left: 33px;

    &::before {
      left: 0;
    }
  }

  .contacts-us__checkbox input:checked + label::before {
    left: 0;
  }
}
