.first-screen__body {
  display: flex;
  max-width: 1660px;
  margin: 0 auto;
}

.first-screen__info {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
}

.first-screen__img {
  position: relative;
  display: flex;
  width: 705px;
  height: 515px;
  margin-left: auto;

  &::after {
    content: "";

    position: absolute;
    top: -200px;
    left: -130px;

    width: 777px;
    height: 704px;

    background-image: url("../img/first-screen/triangle.svg");
    background-repeat: no-repeat;
  }
}

.first-screen__text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 137px;
  margin-right: 98px;
  color: $main-color;
}

.first-screen__text h1 {
  @include reset-list();
  @include font(80px, 94px, 700);
  margin-bottom: 29px;
  font-family: $addition-font;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.first-screen__text p {
  @include reset-list();
  @include font(22px, 34px);
  position: relative;
  max-width: 730px;
  padding-left: 96px;
  margin-bottom: 42px;
  text-transform: lowercase;
  text-align: left;


  &::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 0;

    width: 66px;
    height: 2px;

    background-color: $main-color;
  }
}

.first-screen__btn {
  @include font(16px, 19px, 700);
  display: flex;
  height: 55px;
  padding: 17px 45px 14px 45px;
  margin-left: 95px;
  border: transparent;
  border-radius: $radius;

  background-color: $decor-color;
  color: $main-color;

  font-family: $addition-font;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover {
    opacity: 0.7;
  }
}

.first-screen__btn--mobile {
  display: none;
}

.first-screen__scroll {
  @include font(14px, 16px);
  position: absolute;
  top: 450px;
  left: 110px;

  opacity: 0.5;
  transform: rotate(-90deg);
  background: none;
  border: none;
  cursor: pointer;

  color: $main-color;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

@media (max-width: $tablet-width) {
  .first-screen__info {
    padding-top: 15px;
  }

  .first-screen__img {
    width: 465px;
    height: 340px;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 777px;
      height: 704px;
    }
  }

  .first-screen__text {
    padding-top: 114px;
    padding-left: 90px;
  }

  .first-screen__text h1 {
    @include font(60px, 70px, 700);
    margin-bottom: 32px;
  }

  .first-screen__text p {
    @include font(18px, 28px);
    padding-left: 48px;
    margin-bottom: 62px;

    &::before {
      width: 33px;
    }
  }

  .first-screen__btn {
    padding: 21px 32px;
    margin-left: 49px;
  }

  .first-screen__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .first-screen__info {
    flex-direction: column;
    padding-top: 30px;
  }

  .first-screen__img {
    width: 301px;
    height: 220px;
    order: 1;

    &::after {
      top: -190px;
      left: -100px;
    }
  }

  .first-screen__text {
    order: 2;
    padding-top: 0;
    padding-left: 15px;
  }

  .first-screen__text h1 {
    @include font(40px, 47px, 700);

  }

  .first-screen__text p {
    @include font(16px, 25px);
    width: 290px;
    margin-bottom: 42px;
  }

  .first-screen__btn {
    padding: 17px 31px;
    margin-left: 0;

  }

  .first-screen__btn--desk {
    display: none;
  }

  .first-screen__btn--mobile {
    display: block;
    min-width: 287px;
  }
}
