.inner-background {
  min-height: 100vh;
  background-color: $background-top;
  background-image: url("../img/first-screen/bg-desktop@1x.webp"),url("../img/first-screen/bg-desktop@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/first-screen/bg-desktop@2x.webp"), url("../img/first-screen/bg-desktop@2x.png");
  }
}
