.page-footer__body {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 64px;
}

.page-footer__first-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 14px;
}

.page-footer__logo {
  display: flex;
  justify-content: space-between;
  width: 216px;
  margin-bottom: 47px;
}

.page-footer__logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 148px;
  padding-top: 6px;
}

.page-footer__year {
  @include reset-list();
  @include font(13px, 24px);
  position: absolute;
  top: 214px;
  left: 55%;
  width: 100%;

  text-transform: uppercase;
  color: $footer-text;
}

.page-footer__second-section {
  flex-grow: 1;
}

.page-footer__second-section h3,
.page-footer__third-section h3 {
  @include reset-list();
  @include font(15px, 16px);
  margin-bottom: 23px;
  font-family: $addition-font;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $background-top;
}

.page-footer__nav {
  @include reset-list();
  column-count: 2;
  width: 100%;
}

.page-footer__nav li:not(:last-child),
.page-footer__contacts li:not(:last-child) {
  padding-bottom: 3px;
}

.page-footer__nav-link {
  color: $footer-text;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.page-footer__button {
  display: none;
}

.page-footer__contacts {
  @include reset-list();
}

.page-footer__contacts a {
  display: inline-block;
  vertical-align: middle;
  color: $footer-text;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.page-footer__third-section {
  max-height: 230px;
}

.page-footer__item {
  color: $footer-text;
}

@media (max-width: $tablet-width) {
  .page-footer__body {
    flex-wrap: wrap;
    padding: 0 0 39px;
  }

  .page-footer__first-section {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 19px 25px;
    border-bottom: 1px solid $line;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }

  .page-footer__year {
    position: inherit;
    max-width: 235px;
    top: 0;
    left: 0;
    margin-top: 17px;
    margin-left: 24px;
  }

  .page-footer__second-section {
    padding: 37px 0 0 25px;
  }

  .page-footer__third-section {
    padding: 37px 25px 0 0;
  }

  .page-footer__second-section h3,
  .page-footer__third-section h3 {
    margin-bottom: 26px;
  }
  .page-footer__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    column-count: 1;
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__body {
    position: relative;
    flex-direction: column;
    padding-bottom: 0;
  }

  .page-footer__first-section {
    position: relative;
    flex-direction: column;
    padding: 46px 15px 49px 15px;
  }

  .page-footer__logo {
    margin: 0 auto 20px;
  }

  .page-footer__year {
    margin: 0 auto;
  }

  .page-footer__info {
    flex-direction: column;
  }

  .page-footer__second-section {
    max-height: 260px;
  }

  .page-footer__second-section,
  .page-footer__third-section {
    position: relative;
    padding: 0 15px;
  }

  .page-footer__second-section h3 {
    margin: 29px 0 27px;
  }

  .page-footer__nav {
    margin-bottom: 25px;
  }

  .page-footer__button {
    position: absolute;
    top: 29px;
    right: 15px;
    display: block;
    width: 16px;
    height: 16px;
    border: none;
    background: url("../img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  .page-footer__button--opened {
    background-image: url("../img/minus.svg");
    cursor: pointer;
  }

  .page-footer__accordion {
    display: none;
  }

  .page-footer__accordion--opened {
    display: block;
    max-height: 230px;
  }

  .page-footer__third-section {
    border-top: 1px solid $line;
  }

  .page-footer__third-section h3 {
    position: relative;
    margin: 28px 0 36px;
  }

  .page-footer__third-section .page-footer__button {
    top: 27px;
  }

  .page-footer__contacts {
    margin-bottom: 25px;
  }

  .page-footer__accordion {
    transition: 0.5s ease;
  }
}
