.social {
  display: flex;
  align-items: center;
}

.social__list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  min-width: 115px;
}

.social__list li:not(:last-child) {
  margin-right: 17px;
}

.social__list a:hover {
  opacity: 0.5;
}

@media (max-width: $mobile-width) {
  .social__list {
    // width: 112px;
    margin: 30px auto 0;
  }
}
