$mobile-width: 767px;
$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$addition-font: "Roboto Condensed", "Arial", sans-serif;
$base-font: "PT Mono", monospace;

$border-radius: 5px;

$white: #ffffff;
$grey: #666666;
$light-grey: rgba(98, 105, 98, 0.2);
$blue: #00b2ff;
$dark-blue: #1B2D37;
$medium-grey: rgba(27, 45, 55, 0.5);
$light-grey-2: #EBEBEB;

$main-color: $white;
$base-text-color: $grey;
$decor-color: $blue;
$footer-text: $medium-grey;
$line: $light-grey;
$background-top: $dark-blue;
$border: $light-grey-2;
$radius: $border-radius;



